<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80cfdd">  <td>25/01/03 17:32:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.Start()[pri:0, instance:TestCase.LoginPageTest@5b7a5baa]">&gt;&gt;Start</td> 
<td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>25/01/03 17:32:56</td>   <td>7950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.Verifyscrool()[pri:0, instance:TestCase.LoginPageTest@5b7a5baa]">Verifyscrool</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
