<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="706975">  <td>25/01/10 16:51:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestcaseForms.validi9Form()[pri:0, instance:TestCase.TestcaseForms@408d971b]">validi9Form</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="706975">  <td>25/01/10 16:51:08</td>   <td>-31254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestcaseForms.Start()[pri:0, instance:TestCase.TestcaseForms@408d971b]">&gt;&gt;Start</td> 
<td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
</table>
